.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: saturate(180%) blur(5px);
  background-color: hsla(0, 0%, 100%, 0.8);
  border-bottom: 1px solid #eaeaea;
}

.left-box {
  display: flex;
  align-items: center;
  cursor: pointer;

  img {
    height: 32px;
    margin-right: 10px;
  }

  span {
    line-height: 50px;
    font-weight: bold;
    user-select: none;
  }
}

.right-box {
  display: flex;
  align-items: center;
}
